
// background 
.intro{
    min-height: 65rem;
    width: 100%;
    background : url("/images/desktop/image-hero.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;

}

// overlay
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    background-color: $black;
    z-index: 2;

    .mobile__nav{
        margin-top: 22.3rem; 

        &-list{
            & > *:not(:last-child){
                margin-bottom: 2.4rem;
            }
        }

        &-link{
            font-size: 2.4rem;
            font-family: $fontfamily-2;
            font-weight: 300;
            text-transform: uppercase;
            color: $white;
        }
    }
    
}

.overlay .open{
    visibility: visible;
}



// header
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 4rem;

    @include breakpoint-up(x-large){
        padding-top: 6.4rem;
    }

    // on open class show mobile menu
    &.open{
        .hamburger{
            & > *:first-child{
                transform: rotate(45deg);
            }

            & > *:nth-child(2){
                opacity: 0;
            }

            & > *:last-child{
                transform: rotate(-45deg);
            }
      }
    }

    // logo
    .logo-wrapper{
        width: 14.4rem;
        height: 2.4rem;
        z-index: 3;

        @include breakpoint-up(x-large){
            width: 19.2rem;
            height: 3.2rem;
        }

        .logo{
            width: 100%;
            object-fit: cover;
            display: block;
        }
    }

    

    // hamburger icon
    .hamburger{
        z-index: 3;

        & > *:not(:last-child){
            margin-bottom: .51rem;
        }

        &__item{
           width: 2.4rem;
           height: 0.2rem;
           background-color: $white;
           transform-origin:3px 1px;
           transition: all 0.3s ease-in-out;
        }

        @include breakpoint-up(x-large){
            display: none;
        }
    }

    // nav
    .nav{
        @include breakpoint-down(large){
            display: none;
        }

        &__list{
            display: flex;
            align-items: center;

            & > *:not(:last-child){
                margin-right: 3.2rem;
            }
        }

        &__link{
            color: $white;
            position: relative;
            padding-bottom: 1rem;

            &::after{
                content: "";
                position: absolute;
                left: 50%;
                bottom: 0rem;
                transform: translateX(-50%);
                width: 0;
                height: 0.3rem;
                background-color: $white;
                transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
            }

            &:hover::after{
                width: 2.4rem;
            }
        }

    }




}

