.overview{
    margin-top: 9.6rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 5rem;
    

    @include breakpoint-up(x-large){
        margin-top: 16rem;
        height: 50rem;
        grid-template-columns: repeat(8,1fr);
        grid-template-rows: repeat(4,1fr);
    }
    
    &__image-wrapper{
        grid-column: 1/6;
        grid-row: 1/-1;

    }

    &__image{
        width: 100%;
        height: 100%;
        display: block;
        object-fit: cover;
    }

    &__content{
        padding:0rem 2.4rem;
        text-align: center;
        background-color: $white;

        @include breakpoint-up(x-large){
            grid-column: 5/-1;
            grid-row: 2/-1;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            padding: 9.6rem 0rem 0rem 9.6rem;
            text-align: left;
        }
    }

    &__description{
        color: $darkGray;
        margin-top: 2rem;
    }

}