// font family
$fontfamily-1: 'Alata', sans-serif;
$fontfamily-2: 'Josefin Sans', sans-serif;

// font-size
$font-small : 4rem;
$font-large : 7.2rem;

// colors

$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);
$darkGray: hsl(0, 0%, 55%);
$veryDarkGray: hsl(0, 0%, 41%);